.stage{
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    -webkit-perspective: 120rem;
    -webkit-perspective-origin: 50% 50%;
    perspective: 120rem;
    perspective-origin: 50% 50%;
}


.ball{
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
     /*** Bottom sphere shader ***/
    background:  radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    &::before{
       
        content: "";
        position: absolute;
        top: -19%;
        left: 13%;
        height: 100%;
        width: 50%;
         /*** Top sphere shader ***/
       
        border-radius: 50%;
        background: radial-gradient(circle at 50% 50%, #ffffff, rgba(255, 255, 255, 0) 40%);
        opacity: 0.6;
        filter: blur(5px);
        z-index: 2;
        transform:skewX(15deg) skewY(2deg);
    }

    &::after{
        content: "";
        position: absolute;
        top:3%;
        left: 12%;
        height: 100%;
        width: 100%;
         /*** Top sphere shader ***/
        border-radius: 50%;
        background: radial-gradient(circle at 50% 50%, #ffffff, rgba(255, 255, 255, 0) 50%);
        filter: blur(10px);
        transform:skewX(-20deg);
        z-index: 2;
    }

    .shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at 50% 50%,rgba(0,0,0,.4),rgba(0,0,0,.1) 40%,rgba(0,0,0,0) 50%);
        transform: rotateX(90deg) translateZ(-16.0rem);
    }
}