.navigation{
    &-chk{
        display: none;

        &:checked ~ &-background {
            transform: scale(100);
        }

        &:not(:checked)  ~ &-background{
            // transform: scale(100);
        }
    }

    &-chk:checked ~ &-background{
        transform: scale(100);
        
    }
     &-chk:checked ~ &-nav{
         width: 100%;
        opacity: 1;
        visibility: visible;
         
     }





    &-btn{
        background-color: $color-bakground-light;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top:6rem;
        right:6rem;
        border-radius: 50%;
        z-index: 20;
        box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: .2);

    }
    &-background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top:6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light,$color-primary-dark);
        z-index: 10;

         // To Animate
        transition: all 2s cubic-bezier(.97,.01,.12,.98);
       
    }
    &-nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:0;
        left:0;
        z-index: 15;

        
        // To Animate
        transition: all 2s cubic-bezier(.97,.01,.12,.98);
        width: 0px;
        opacity: 0;
        visibility: hidden;
        

    }
    &-list{
        position: absolute;
        @include center-div;
        list-style: none;
    }
    &-item{
        margin:1rem;
        text-align: center;
    }

    &-link{
       
        &:link,
        &:visited{
            font-size: 3rem;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            color:$color-bakground-light;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg,transparent 0%,transparent 50%, white 50%);
            transition: all .4s;
            background-size: 250%;
            display: inline-block;
        }
        &:hover,
        &:active{
            background-position: 100%;
            color:$color-primary;
            transform: translateX(1rem);
        }
    }
}