@import 'base/index';



// UI colors:
$color-primary: #55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
// Text colors:
$text-primary:#777;
$text-white:#fff;



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'lato',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $text-primary;
    padding: 30px;
}

.header{
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    /* clip-path: polygon(0 0,100% 50%,0 100%); */

   .logo-box{
        position:absolute;
        top: 40px;
        left: 40px;
    }
    .logo{
        height: 35px;
    }
}



.text-box{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    .heading-primary{
        color: $text-white;
        text-transform: uppercase;
    }
    .heading-primary-main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-delay: .2s;
    }
    .heading-primary-sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.4px;
        margin-bottom: 60px;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-timing-function: ease-out;
    }
}



@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px)

    }
    80%{
        opacity: .8;
        transform: translateX(20px)
    }

    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px)

    }
    80%{
        opacity: .8;
        transform: translateX(-20px)
    }

    100%{
        opacity: 1;
        transform: translateX(0px)
    }

}

.btn{
    &:link,&:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 45px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0px 10px 20px rgba(0, 0,0,.2);
        /* START: Button hover scalling animation */
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0px 5px 10px rgba(0, 0,0,.2)
    }

    &-white{
        background-color: $text-white;
        color: $text-primary;
        /* START: Button hover scalling animation */
        &::after{
            background-color:#fff;
        }
    }

    /* START: Button hover scalling animation */
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0px;
        left:0px;
        z-index: -1;
        border-radius: 100px;
        transition: all .4s;
    }
    /* START: Button move up animation */
    &-animated{
        animation-name: btnMoveup;
        animation-delay: .75s;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }
}




@keyframes btnMoveup {
    0%{
        opacity: 0;
        transform: translateY(30px) 
    }
    80%{
        opacity: .8;
        transform: translateY(-5px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px) 
    }
}

/* END: Button hover scalling animation */




