* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 30px;
  box-sizing: border-box; }

.stage {
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  -webkit-perspective: 120rem;
  -webkit-perspective-origin: 50% 50%;
  perspective: 120rem;
  perspective-origin: 50% 50%; }

.ball {
  position: relative;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  /*** Bottom sphere shader ***/
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball::before {
    content: "";
    position: absolute;
    top: -19%;
    left: 13%;
    height: 100%;
    width: 50%;
    /*** Top sphere shader ***/
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, #ffffff, rgba(255, 255, 255, 0) 40%);
    opacity: 0.6;
    filter: blur(5px);
    z-index: 2;
    transform: skewX(15deg) skewY(2deg); }
  .ball::after {
    content: "";
    position: absolute;
    top: 3%;
    left: 12%;
    height: 100%;
    width: 100%;
    /*** Top sphere shader ***/
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, #ffffff, rgba(255, 255, 255, 0) 50%);
    filter: blur(10px);
    transform: skewX(-20deg);
    z-index: 2; }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-16rem); }

.stage-two {
  margin: 8rem auto; }

.progress-ring {
  display: block;
  margin: 0 auto; }
  .progress-ring-circle {
    stroke-dasharray: 10 20;
    stroke-width: 4;
    fill: transparent;
    stroke: tomato; }

.stage-three {
  margin: 4rem auto; }
  .stage-three .progress-ring {
    display: block;
    margin: 0 auto; }
    .stage-three .progress-ring-circle {
      stroke-dasharray: 120 0;
      stroke-width: 4;
      stroke-dashoffset: 10;
      fill: transparent;
      stroke: tomato; }
